<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
     <context-param>
        <param-name>title</param-name>
        <param-value>Kyle's Cafe</param-value>
    </context-param>
    
    <context-param>
        <param-name>login</param-name>
        <param-value>Login</param-value>
    </context-param>
    
    <context-param>
        <param-name>background</param-name>
        <param-value>images/background3.gif</param-value>
    </context-param>
    
     <context-param>
        <param-name>tax</param-name>
        <param-value>.2</param-value>
    </context-param>
    
    <context-param>
        <param-name>dataAccess</param-name>
        <param-value>model.FakeDB</param-value>
    </context-param>
    
    <context-param>
        <param-name>index</param-name>
        <param-value>index.jsp</param-value>
    </context-param>
  
    <context-param>
        <param-name>confirmOrder</param-name>
        <param-value>OrderConfirmation.jsp</param-value>
    </context-param>
    
     <context-param>
        <param-name>loginPage</param-name>
        <param-value>login.jsp</param-value>
    </context-param>
    
    <context-param>
        <param-name>admin</param-name>
        <param-value>admin.jsp</param-value>
    </context-param>
    
    <context-param>
        <param-name>name</param-name>
        <param-value>admin</param-value>
    </context-param>
    
    <context-param>
        <param-name>photos</param-name>
        <param-value>admin</param-value>
    </context-param>
    
    <context-param>
        <param-name>imagePath</param-name>
        <param-value>images/</param-value>
    </context-param>
    
    <context-param>
        <param-name>key</param-name>
        <param-value>A665A</param-value>
    </context-param>
    
    <context-param>
        <param-name>door</param-name>
        <param-value>A665A</param-value>
    </context-param>
    
</web-app>
